#editor {
    float: left;
    width: "50%"
}
#viewer {
    float: left;
    width: "50%"
}

/* Tabbed notebook implementation based on
 * http://www.w3schools.com/howto/howto_js_tabs.asp
 */
ul.notebook {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.notebook li {float: left;}

ul.notebook li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.notebook li a:hover {background-color: #ddd;}

ul.notebook li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
