#editor {
    float: left;
    width: "50%"
}
#viewer {
    float: left;
    width: "50%"
}

/*Editing notebook*/
article.tabs{
    position: relative;
    display: block;
    width: 40em;
    height: 15em;
    margin: 2em auto;
}
article.tabs section{
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    height: 12em;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    z-index: 0;
}
article.tabs section:first-child{
    z-index: 1
}
article.tabs section h2{
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 120px;
    height: 1.8rm;
    top: -1.8em;
    left: 10px;
    padding 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    border-radius: 5px 5 px 0 0;
}
article.tabs section:nth-child(2) h2{
    left: 132px;
}
article.tabs section:nth-child(3) h2{
    left: 254px;
}
articles.tabs section h2 a{
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

articles.tabs section:target,
articles.tabs section:target h2{
    color: #333;
    background-color: #fff;
    z-index: 2;
}
article.tabs section,
article.tabs section h2{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
