<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing3D</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class=title>Writing3D</h1>
    <div id="editor">
        <article class="tabs" id="edit_notebook">
            <section id="Global">
                <h2><a href="#Global">Global</a></h2>
                <p>Global</p>
            </section>
            <section id="Objects">
                <h2><a href="#Objects">Objects</a></h2>
                <p>Objects</p>
            </section>
            <section id="Timelines">
                <h2><a href="#Timelines">Timelines</a></h2>
                <p>Timelines</p>
            </section>
            <!-- <section id="Events"></section> -->
            <!-- <section id="Sounds"></section> -->
        </article>
    </div>
    <div id="viewer">
    </div>
</body>
</html>
