<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writing3D</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script type="text/javascript" src="/static/tabbed_notebook.js"></script>
</head>
<body>
    <h1 class=title>Writing3D</h1>
    <div id="editor">
        <ul class="notebook">
            {% for tab in toptabs %}
            <li>
                <a href="#" class=tablink
                        onclick="openTab(event, '{{ tab.name }}')">
                    {{ tab.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% for tab in toptabs %}
        <div id="{{ tab.name }}" class=tabcontent>
            <h3>{{ tab.name }} Editor</h3>
            <form method=post>
                {% for field in form %}
                    <dt>{{ field.label }}</dt>
                    <dd>{{ field()|safe }}</dd>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        {% endfor %}
    </div>
    <div id="viewer">
    </div>
</body>
</html>
